@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-pt-32 scroll-smooth font-[Inter];
}

body {
    @apply bg-zinc-950 text-zinc-200;
}

:focus {
    opacity: 100;
    outline: none;
}

@layer base {
    :root {
        --radius: 0.75rem;

        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

/* Firefox sucsk */
::-webkit-scrollbar {
    @apply w-2 bg-zinc-950;
}

::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-zinc-900 hover:bg-zinc-800;
}

/* To display number lines */
code {
    counter-increment: step 0;
    counter-reset: step;
}

code > .line:not(:last-child)::before {
    @apply mr-6 inline-block w-4 text-right text-[rgba(115,138,148,0.4)] content-[counter(step)];
    counter-increment: step;
}

.codeBlock > pre {
    @apply my-0 rounded-t-none;
}

@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.customScrollbar {
    @apply overflow-auto;
}

.customScrollbar::-webkit-scrollbar {
    @apply size-2;
}

.customScrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-zinc-600;
}

.customScrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
}

.customScrollbar::-webkit-scrollbar {
    @apply hidden;
}
