@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-pt-32 !scroll-smooth font-[Inter];
}

body {
    @apply bg-zinc-950 text-zinc-200;
}

@layer base {
    :root {
        --radius: 0.75rem;
    }
}

/* Firefox sucsk */
::-webkit-scrollbar {
    @apply w-2 bg-zinc-950;
}

::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-zinc-900 hover:bg-zinc-800;
}

/* To display number lines */
code {
    counter-increment: step 0;
    counter-reset: step;
}
code > .line:not(:last-child)::before {
    @apply mr-6 inline-block w-4 text-right text-[rgba(115,138,148,0.4)] content-[counter(step)];
    counter-increment: step;
}

#codeBlock > pre {
    @apply my-0 rounded-t-none;
}

@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
