@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth font-[Inter] text-gray-200 bg-gray-700;
}
